### Git ###
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
# End of https://www.toptal.com/developers/gitignore/api/git


### Java ###
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*


### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
.worksheet
.sts4-cache/
# End of https://www.toptal.com/developers/gitignore/api/eclipse


### Intellij+all ###
.idea
.idea/*
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
# End of https://www.toptal.com/developers/gitignore/api/intellij+all


### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
# End of https://www.toptal.com/developers/gitignore/api/linux

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
# End of https://www.toptal.com/developers/gitignore/api/windows

### VisualStudioCode ###
.vscode
.history/
*.vsix
.history
.ionide
*.code-workspace
# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode